@import url("../../assets/font-awesome/css/font-awesome.min.css");

.loginDiv{
    background-image: url("../../assets/backgroung.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card{
    width: 50rem;
    height: 26rem;
    background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
    font-size: 40px;
    margin-left: 10px;
    color: #FFC312;
    margin-top: -10px;

}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}

h3.card-title {
    color: white;
}

.icon {
    padding: 10px;
    min-width: 50px;
    text-align: center;
  }

.input-group span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

.btn-custom{
    color: black;
    background-color: #FFC312;
    width: 100px;
}
.btn-custom:hover{
    color: black;
    background-color: white ;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
}
.remember input
{
width: 20px;
height: 20px;
margin-right: 5px;
}

.remember input:hover{
    outline: 0.5px #FFC312;
}

text-custom{
    color: #FFC312;
}

.links{
    color: white;
}
    
.links a{
    margin-left: 4px;
    color: #FFC312
}

.links a:hover{
    color: black;

}
  