<div class="noticeDiv">
    <div class="container">
        <div class="row pt-5">
            <div class="col-sm-3 mt-2" *ngFor="let item of [0,1,2,3,4,5,6,7]">
                <div class="card noticeCard">
                    <div class="card-header">
                        <span class="text-white"><b>Date: </b>08/07/21</span>
                        <span class="text-white float-end"><b>Time: </b> 7:45pm</span>
                    </div>
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-center">
                            <h3 class="text-white">Notice Heading</h3>
                        </div>
                        <div class="card-text">
                            <p class="text-center w-85 mx-auto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium eligendi amet quas facere voluptatum adipisci. Quasi iste optio, ipsum laudantium ad fugiat quam, laborum at incidunt quos, aliquam possimus tempora?</p>
                        </div>
                    </div>
                    <div class="card-footer text-center text-white">
                        <b>Valid Upto: </b>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
